
.c-img{
    height: 480px;
}

body{background-color: rgb(255, 255, 255);}

.container{
    background-color: rgb(29, 70, 37);
margin-top: 50px;
}

.col{display: flex;
    justify-content: center;
align-items: center;
padding-top: 25px;
padding-bottom: 25px;}

.avisimg{padding-right: 50px;}

.textavis{font-weight: 1000;
font-size: 200%;}

p{margin-bottom: 0;
color: white;}

.video{display: flex;
justify-content: center;
padding-left: 75px;
padding-right: 75px;
padding-top: 40px;
padding-bottom: 40px}